@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
/* colores del sitio */
.color1 {background: #121b25;}
.color2 {background: #12486e;}
.color3 {background: #1ab5ad;}
.color4 {background: #7de89e;}
.color5 {background: #f5eb99;}
.degradado1 {background-image: linear-gradient(to right, #121b25, #12486e);}
.degradado2 {background-image: linear-gradient(to top, #1ab5ad, #7de89e);}

body {
    background-image: url(../img/fondo.jpg);
}
.container {
    max-width: 90%;
    margin: auto;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    max-width: 300px;
}
/* iconos redes sociales */
.social-media {
    display: flex;
    justify-content: space-around;
    font-family: 'Poppins', sans-serif ;
}

.social-media div {
    display: inline-block;
    height: 42px;
    width: 42px;
    /* float: left; */
    margin: 0 5px;
    overflow: hidden;
    background: #fff;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-out;
}

.social-media div:hover {
    width: 160px;
}

.social-media div a {
    text-decoration: none;
}

.social-media div a i {
    display: inline-block;
    height: 42px;
    width: 42px;
    text-decoration: none;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 42px;
    transition: all 0.3s ease-out;
}

.social-media div:nth-child(1) a i {
    color: #4267B2;
}

.social-media div:nth-child(2) a i {
    color: #c32aa3;
}

.social-media div:nth-child(3) a i {
    color: #1da1f2;
}

.social-media div:nth-child(4) a i {
    color: #ff0000;
}

.social-media div:nth-child(1):hover a i {
    background: #4267B2;
}

.social-media div:nth-child(2):hover a i {
    background: #c32aa3;
}

.social-media div:nth-child(3):hover a i {
    background: #1da1f2;
}

.social-media div:nth-child(4):hover a i {
    background: #ff0000;
}

.social-media div a i {
    font-size: 20px;
    line-height: 42px;
    transition: all 0.3s ease-out;
}

.social-media div:hover a i {
    color: #fff;
}

.social-media div span {
    font-size: 16px;
    font-weight: 500;
    line-height: 42px;
    margin-left: 10px;
    transition: all 0.3s ease-out;
}

.social-media div:nth-child(1) span {
    color: #4267b2;
}

.social-media div:nth-child(2) span {
    color: #c32aa3;
}

.social-media div:nth-child(3) span {
    color: #1da1f2;
}

.social-media div:nth-child(4) span {
    color: #ff0000;
}

/* enlaces de navegación */

.main-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0, auto;
    padding: 20px;
    font-family: "Poppins", sans-serif;
}

.main-menu li {
    width: 180px;
    text-align: center;
    /* border: solid 1px red; */
    padding: 10px;
    margin: 0 10px;
    border-radius: 50px;
    position: relative;
}

.main-menu li::before {
    content: "";
    display: block;
    width: 0;
    height: 3px;
    background: #12486e;
    position: absolute;
    left: 10%;
    bottom: 0;
    transition: all 0.3s;
}

.main-menu li:hover::before {
    width: 80%;
}

.main-menu li a {
    color: #fff;
    text-decoration: none;
}

/* Carrusel de imagenes */

.carrusel {
    position: relative;
    width: 100%;
    margin: 1em auto;
    text-align: center;
}

.carrusel button {
    display: block;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: none;
    text-decoration: none;
    background-color: transparent;
    color: #000;
    transition: all 0.3s ease;
    font-size: 2.5rem;
    font-weight: bold;
}

.carrusel button:hover {
    color:lightslategrey;
}

.img-btns {
    position: absolute;
    width: 100%;
    top: 45%;
    display: flex;
    justify-content: space-between;
}

.container-img {
    position: relative;
    height: 60vh;
    max-width: 100%;
}

.imagen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease;
}

.imagen img {
    height: inherit;
    width: inherit;
    object-fit: inherit;
}

.imagen.activa {
    opacity: 1;
    visibility: visible;
}

